<a href="https://colab.research.google.com/github/midhunkrishnam/Machine-Learning-Algoritnms/blob/main/letterrecognitionSVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/letter-recognition.csv")
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [ ]:
print(df.columns)

Index(['letter', 'xbox ', 'ybox ', 'width ', 'height', 'onpix ', 'xbar ',
       'ybar ', 'x2bar', 'y2bar ', 'xybar ', 'x2ybar', 'xy2bar', 'xedge ',
       'xedgey', 'yedge ', 'yedgex'],
      dtype='object')

In [ ]:
df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [ ]:
df.tail()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [ ]:
df.shape

(20000, 17)

In [ ]:
print(df.isna().sum())

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [ ]:
x=df.iloc[:,1:16].values
y=df.iloc[:,0].values
x
y

array(['T', 'I', 'D', ..., 'T', 'S', 'A'], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)
y_test

array(['V', 'O', 'G', ..., 'P', 'E', 'B'], dtype=object)

In [ ]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)
x_test

array([[ 1.02833249,  0.28458579,  1.41371382, ...,  1.25871837,
         1.71437052,  0.89253175],
       [ 0.50493196,  0.58733662,  0.4252262 , ..., -0.45145531,
        -0.22011705, -0.27654149],
       [ 0.50493196,  0.58733662, -0.56326143, ...,  0.40363153,
         0.42471214,  1.67191391],
       ...,
       [-0.54186909, -0.32091589, -0.56326143, ..., -0.87899874,
         1.06954133,  0.11314959],
       [ 0.50493196,  0.58733662,  0.91947001, ...,  0.83117495,
        -0.22011705,  1.67191391],
       [-1.06526961, -0.32091589, -1.05750525, ..., -0.45145531,
        -0.22011705,  0.89253175]])

In [ ]:
from sklearn.svm import SVC #support vector classifier
model=SVC()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)

['V' 'D' 'G' ... 'P' 'R' 'B']

In [ ]:
#accuracy score
from sklearn.metrics._plot.confusion_matrix import confusion_matrix 
from sklearn.metrics import classification_report,accuracy_score
result=confusion_matrix(y_test,y_pred)
print(result)
score=accuracy_score(y_test,y_pred)
print(score)

[[231   0   1   0   0   0   1   0   0   0   0   0   0   0   0   0   0   4
    2   0   0   0   0   0   1   0]
 [  0 199   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0  12
    1   0   0   0   0   1   0   0]
 [  0   0 201   0   5   0   6   0   0   0   0   0   0   0   5   0   0   0
    0   0   0   0   0   0   0   0]
 [  0   7   0 208   0   0   0   3   0   0   0   0   0   3   0   0   0   6
    0   0   2   0   0   0   0   0]
 [  0   0   3   0 210   0   7   0   0   0   1   0   0   0   0   0   1   1
    1   2   0   0   0   2   0   2]
 [  0   3   0   1   0 209   1   0   0   0   0   0   0   2   0   4   1   0
    0   2   0   1   0   0   0   0]
 [  0   0   0   6   1   2 228   0   0   0   0   0   1   0   1   0   2   0
    1   0   0   0   2   0   0   0]
 [  1   1   0   8   0   1   3 171   0   0   5   0   0   1   1   1   1  12
    0   0   0   0   0   1   0   0]
 [  0   2   0   0   0   9   0   0 191   8   0   0   0   0   0   0   0   0
    2   0   0   0   0   0   0   1]
 [  0   5   0   2   0   1   0   2   4 198   0   0   0   0   2   0   0   5
    8   0   0   0   0   0   0   0]
 [  0   2   2   2   0   0   0   4   0   0 200   0   0   0   0   0   0   5
    0   0   0   0   0   4   0   0]
 [  0   3   0   0   3   0   2   2   0   0   0 222   0   0   1   0   2   0
    7   0   1   0   0   4   0   0]
 [  0   2   0   0   0   0   0   2   0   0   0   0 219   1   1   0   0   2
    0   0   1   0   1   0   0   0]
 [  0   2   0   2   0   1   0   2   0   0   0   0   1 237   8   0   0   2
    0   0   0   1   0   0   0   0]
 [  0   0   1   5   0   0   0   1   0   0   0   0   1   0 215   0   0   0
    0   0   1   0   4   0   0   0]
 [  0   2   0   1   2   7   2   2   0   0   0   0   0   0   1 221   0   0
    0   0   0   0   0   0   1   0]
 [  2   0   0   1   0   0   0   1   0   0   0   0   0   0   5   0 229   1
    0   0   0   0   0   0   1   0]
 [  0   6   0   3   1   0   0   2   0   0   2   0   0   0   1   0   1 224
    0   0   0   0   0   0   0   0]
 [  0   7   0   0   3   2   1   0   0   0   0   0   0   0   0   0   0   1
  199   0   0   0   0   1   0   1]
 [  0   0   0   1   1   0   1   0   1   0   1   0   0   1   0   0   0   0
    1 241   0   0   0   1   0   0]
 [  0   0   5   0   0   0   5   3   0   0   1   0   1   0   3   0   1   0
    0   0 234   2   3   0   0   0]
 [  0   7   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   2
    0   0   0 211   2   0   1   0]
 [  0   1   0   0   0   0   0   0   0   0   0   0   7   1   0   0   0   0
    0   0   0   0 225   0   0   0]
 [  0   3   0   1   2   1   0   0   0   2   3   0   0   0   0   0   1   0
    0   0   0   0   0 214   1   0]
 [  0   0   0   1   0   3   0   1   0   0   0   0   0   0   0   2   0   0
    0   2   1   2   1   0 221   0]
 [  0   0   0   0   5   0   0   0   0   2   0   1   0   0   0   0   3   3
    4   0   0   0   0   0   0 197]]
0.9258333333333333